@import "basics.scss";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.testimonials {
    //width: 100vw;
    margin: 0 auto;

    .grid-container {
      display: block;

     max-width: 100%;
     
     background-color: $lightGrayishBlue;
     padding: 5%; 

      .area  {
        min-height: 10vh;
        border-radius: 1em;
        padding: 5%; 
        margin-bottom: 1em;

       
        &__image {
          max-width: 3vw;
          display: inline-block;
          vertical-align: top; 
          margin-right: 8%;
         
          img {
            border-radius: 50%;
            border: 1px solid $violet;
          }
        }
         &__text {
            display: inline-block;
            vertical-align: top;
            h1 {
              font-size: 1.2em;
              margin-top: 0;
              margin-bottom: 0;
            }
            p {
              margin-top: 0;
              margin-bottom: 0;
              
            }
          }
          .shortm {
            font-size: 1.5em;
            font-weight: 600;
          }

          &__light {
            .area__text {
              p {
                color: $semiblack;
              }
            }
            .longm {
              color: $hisemiblack;
            }
          }

          &__dark {
            .area__text {
              p {
                color: $semiwhite;
              }
            }
            .longm {
              color: $hisemiwhite;
            }
          }
      }

      .Area-1 { 
        grid-area: Area-1;
        background-image: url('../images/bg-pattern-quotation.svg'); 
        background-position:  75% top;
        background-repeat: no-repeat;
        background-color: $violet;
        color: $white;
      }  
    
      .Area-2 { 
        grid-area: Area-2;
        background-color: $darkGrayishBlue;
        color: $white;
       }
      .Area-3 { 
        grid-area: Area-3; 
        background-color: $white;
        
      }
      .Area-4 { 
        grid-area: Area-4; 
        background-color: $white;
      }
      .Area-5 { 
        grid-area: Area-5; 
        background-color: $darkBlackishBlue;
        color: $white;
      } 

      @media (min-width: 40em) {
        display: grid;
        grid-gap: 2em;
        
        
        //grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);

        padding-left: 10%;
        padding-right: 10%; 

        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
          "Area-1 Area-1 Area-2 Area-3"
          "Area-4 Area-5 Area-5 Area-3"
          ". . . .";

          .area  {
            &__image {
              //max-width: 4vw;
             
              margin-right: 4%;
            }
          }
        } 
        
  }
  

}
